@font-face {
  font-family: 'SFUIDisplay-Bold';
  src: url('../fonts/SFUIDisplay-Bold/SFUIDisplay-Bold.eot');
  src: url('../fonts/SFUIDisplay-Bold/SFUIDisplay-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SFUIDisplay-Bold/SFUIDisplay-Bold.woff') format('woff'),
    url('../fonts/SFUIDisplay-Bold/SFUIDisplay-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFUIDisplay-Regular';
  src: url('../fonts/SFUIDisplay-Regular/SFUIDisplay-Regular.eot');
  src: url('../fonts/SFUIDisplay-Regular/SFUIDisplay-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SFUIDisplay-Regular/SFUIDisplay-Regular.woff') format('woff'),
    url('../fonts/SFUIDisplay-Regular/SFUIDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}