@media (max-width: $md) 
  body
    background-size: auto 482px 
  +media-md-index
  +media-md-navbar
  +media-md-main
  +media-md-price
  +media-md-benefit
  +media-md-feedback
@media (max-width: $xs)
  body
    background:
      color: #ffffff
      size: auto 778px
      position: 66% 0
  +media-xs-index
  +media-xs-navbar
  +media-xs-main
  +media-xs-price
  +media-xs-benefit
  +media-xs-feedback

