.benefit
  position: relative
  padding: 36px 0 129px
  &::after
    content: ""
    position: absolute
    top: 0
    z-index: -1
    width: 867px
    height: 100%
    background: 
      repeat: no-repeat
      size: auto 100%
  &__title
    max-width: 500px
    margin-bottom: 73px
  &__sentence
    width: 750px
    padding: 36px 84px 41px
    margin-bottom: 54px
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2)
    border-radius: 29px
    background:
      color: #ffffff
      repeat: no-repeat
      image: $text-gradient
      size: 49px 100%
      position: left
    &-title
      margin-bottom: 35px
      +bold
      font-size: 24px
    &-text
      +regular
      font-size: 16px
      line-height: 1.5
  &__discounts
    display: flex
    align-items: flex-start
  &__discount
    width: 210px
    padding: 32px 55px 18px 22px
    margin-right: 20px
    border-radius: 29px
    background:
      color: #b01919
      repeat: no-repeat
      image: linear-gradient(-55deg, rgba(#ffffff,0.5) 0, rgba(#ffffff,0.5) 100%), linear-gradient(-55deg, #bc4e9c 0%, #f80759 100%)
      size: 30px 100%, cover
      position: right
    color: #ffffff
    &-title
      margin-bottom: 12px
      +bold
      font-size: 20px
      text-transform: uppercase
    &-text
      +regular
      font-size: 16px
  &__uptime
    margin-top: 90px
    margin-bottom: 30px

    &-title
      +bold
      font-size: 16px
      margin-bottom: 40px
    &-iframe
      width: 559px
      height: 202px


  &__payments
    display: flex
    justify-content: space-around
    align-items: center
    margin-right: 47%
    margin-top: 97px
  &__payment
    display: block
    // margin-right: 40px
    background: 
      repeat: no-repeat
      image: url('../img/sprites/sprite-money.png')
      size: auto
    &-visa
      width: 77px
      height: 25px
      background: 
        position: 0 -13px
    &-mastercard
      width: 70px
      height: 41px
      background: 
        position: -77px -5px
    &-webmoney
      width: 136px
      height: 36px
      background: 
        position: -147px -8px
    &-yandex
      width: 93px
      height: 47px
      background: 
        position: -283px 0
    &-bitcoin
      width: 42px
      height: 43px
      margin-left: 10px
      background: 
        position: -376px -5px
  &__searches
    display: flex
    justify-content: space-between
    align-items: center
    align-content: space-between
    flex-wrap: wrap
    width: 331px
    height: 157px
    margin-top: 112px
    margin-left: 67px
  &__search
    background: 
      repeat: no-repeat
      image: url('../img/sprites/sprite-search.png')
      size: auto
    &-google
      width: 118px
      height: 41px
      background: 
        position: 0 0
    &-yandex
      width: 101px
      height: 41px
      background: 
        position: -118px 0
    &-bing
      width: 115px
      height: 43px
      background: 
        position: 0 -41px
    &-yahoo
      width: 128px
      height: 35px
      background: 
        position: -118px -41px
  
  &.benefit-first
    &::after
      background: 
        image: url('../img/1.jpg')
  &.benefit-second
    padding-bottom: 2px
    &::after
      background: 
        image: url('../img/2.jpg')
  &.benefit-third
    padding-top: 131px
    padding-bottom: 180px
    &::after
      background: 
        image: url('../img/3.jpg')
  &.benefit-fourth
    &::after
      background: 
        image: url('../img/4.jpg')
.benefit:nth-of-type(2n-1)
  &::after
    left: 50%
    background: 
      position: left
    transform: translateX(112px)
.benefit:nth-of-type(2n)
  padding-top: 68px
  padding-left: calc(50% - 80px)
  &::after
    right: 50%
    background: 
      position: right
    transform: translateX(-112px)
  .benefit
    &__sentence
      margin-left: -195px
