.main
  padding: 147px 0 93px
  color: #ffffff
  &__logo
    display: none
  &__title
    +bold
    font-size: 44px
    margin-bottom: 75px
  &__positives
    padding-left: 25px
  &__positive
    position: relative
    list-style: none
    margin-bottom: 23px
    +regular
    font-size: 16px
    &::before
      content: ""
      display: block
      position: absolute
      left: -25px
      top: 0
      width: 13px
      height: 15px
      background: 
        repeat: no-repeat
        image: url('../img/hexagon.svg')
        size: contain
=media-md-main
  .main
    padding: 86px 0 60px
    &__title
      font-size: 28px
      margin-bottom: 48px
    &__positives
      padding-left: 18px
    &__positive
      font-size: 10px
      margin-bottom: 14px
      &::before
        left: -18px
        top: 2px
        width: 8px
        height: 9px
=media-xs-main
  .main
    padding: 30px 0 32px
    &__logo
      display: block
      text-align: center
      margin-bottom: 19px
      img
        width: 210px
        height: 77px  
    &__title
      font-size: 24px
      text-align: center
      margin-bottom: 29px
    &__positives
      padding-left: 18px
      max-width: 280px
      margin: 0 auto
    &__positive
      font-size: 14px
      margin-bottom: 14px
      &::before
        left: -18px
        top: 2px
        width: 10px
        height: 12px