.footer
  padding: 90px 0
  background:
    color: $primary-color
    repeat: no-repeat
    image: url('../img/bg-footer.jpg')
    size: cover
    position: center
  a:hover
    color: #fdee06
  +regular
  color: #ffffff
  &-wrap
    display: flex
    justify-content: space-between
    align-items: center
  &__logo
    display: block
    img
      width: 210px
      height: 77px  
  &-logo
    &>span
      display: block
      font-size: 10px
      text-transform: uppercase
  &-navs
    min-height: 75px
    display: flex
    justify-content: space-between
    align-items: center
    align-content: space-between
    flex-wrap: wrap
  &__nav
    flex-basis: 50%
    font-size: 14px
    text-transform: uppercase
  &-contacts
    text-align: right
  &__phone
    display: block
    font-size: 24px
    margin-bottom: 5px
  &__mail
    display: block
    font-size: 14px
